*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

body { overflow: hidden; font-family: 'Karla', sans-serif; color: rgba(0,0,0,0.87); }
strong { color: rgba(0,0,0,0.87); }
a { -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.tabs .nav-item a:hover, .tabs a:hover, .footer a:hover { color: #fff }

header {
	background:
		radial-gradient(circle, rgba(255,237,188, .3), rgba(237,66,100, .3)), url("../images/flowerz.jpg");
	background-size: cover;
	background-position-y: bottom;
	background-position-x: center;
	height: 100vh;

	-webkit-clip-path: polygon(0 0%, 100% 0, 100% 98%, 0% 99%);
	clip-path: polygon(0 0%, 100% 0, 100% 98%, 0% 99%);
}

header h1 { display: none; }

/* mailing list form */
header .cta { font-size: 1.3rem; margin: 1rem 0; color: #fff; font-weight: 700; }
#male-list { width: 80%; }
label { display: none !important; }
input { border-radius: 3px 0 0 3px !important; }
.button { border-radius: 0 3px 3px 0 !important; }
input::-webkit-input-placeholder { font-family: 'Karla', sans-serif !important; }
input:-ms-input-placeholder { font-family: 'Karla', sans-serif !important; }
input:-moz-placeholder { font-family: 'Karla', sans-serif !important; }
input::-moz-placeholder { font-family: 'Karla', sans-serif; }
input:focus, input:active { border: 1px solid rgba(237,66,100, .3) !important; }
.is-info { background-color: rgb(237,66,100) !important; }

.nav { position: fixed !important; bottom: 0; left: 0; right: 0; background: rgb(237,66,100); }
.nav { text-transform: lowercase; font-weight: 700; }
.nav ul, .nav a { border: none; }
.tabs a { color: rgba(255,255,255,.8); }

#menu, #social { display: block; }
#menu { margin: auto; }

p { padding-bottom: 1rem; }
p:last-of-type { padding-bottom: 0; }
.section-break { display: block !important; margin-bottom: 1rem; }
a { text-decoration: none; color: rgb(237,66,100); }
footer a { text-decoration: none; color: rgb(255,255,255); }

#bio-pic {
	background: url("../images/honeybucket.jpg");
	background-size: cover;
	background-position-y: bottom;
	background-position-x: center;
	width: 100%;
}

#videos {
	background:
		radial-gradient(circle, rgba(255,237,188, .3), rgba(237,66,100, .3)),
		url("../images/concert.jpg");
	background-size: cover;
	background-position-y: top;
	background-position-x: center;
	-webkit-clip-path: polygon(0 0, 100% 1%, 100% 99%, 0 100%);
	clip-path: polygon(0 0, 100% 1%, 100% 99%, 0 100%);
}

#press h4 { display: none; }
.quote-columns { column-count: 3; column-gap: 2rem; column-width: 300px; }
figure {
	-webkit-column-break-inside: avoid; /* Chrome, Safari */
	page-break-inside: avoid;           /* Theoretically FF 20+ */
	break-inside: avoid-column;         /* IE 11 */
	display:table;
	padding-bottom: 1rem;
}
figcaption {
	text-align: right;
	text-transform: uppercase;
	font-weight: 700;
}

.footer {
	background: rgba(237,66,100, 1);

	-webkit-clip-path: polygon(0 2%, 100% 0, 100% 100%, 0% 100%);
	clip-path: polygon(0 2%, 100% 0, 100% 100%, 0% 100%);
	padding-bottom: 0;
}

.footer p:last-of-type { padding-bottom: 4rem; }

.footer img {
	display: block;
	width: 100vw;
	transform:scale(1.5);
}

.footer a { display: block; }
.footer ul { margin-bottom: 1rem; text-align: center; }
.footer ul, .footer a { border: none; }
.footer p { text-align: center; text-transform: uppercase; }
.footer .tabs, .footer .tabs#social ul { margin-bottom: 0; }

/* lightweight responsive youtube embed */
.youtube {
	position: relative;
	padding-bottom: 56.23%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	background: #000;
	margin: 5px;
}

.youtube iframe,
.youtube object,
.youtube embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: transparent;
}

.youtube img {
	bottom: 0;
	display: block;
	left: 0;
	margin: auto;
	max-width: 100%;
	width: 100%;
	position: absolute;
	right: 0;
	top: 0;
	border: none;
	height: auto;
	cursor: pointer;
	-webkit-transition: .4s all;
	-moz-transition: .4s all;
	transition: .4s all;
}

.youtube img:hover {
	-webkit-filter: brightness(75%);
}

.youtube .play {
	height: 72px;
	width: 72px;
	left: 50%;
	top: 50%;
	margin-left: -36px;
	margin-top: -36px;
	position: absolute;
	background: url("../images/play.png") no-repeat;
	cursor: pointer;
}
